h1 {
    color: crimson;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

h2 {
    color:cornflowerblue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times;
    font-weight: bolder;
}

h3 {
    color:darkslateblue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times;
}

tr {
    color:blueviolet;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 25%;
    border: 1px solid  #ddd;
    text-align: center;
}

.texas {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 8%;
}