h1 {
    color: crimson;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 70px;
}

tr {
    color:blueviolet;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 25%;
    border: 1px solid  #ddd;
    text-align: center;
}

.year {
    width: 25%;
    text-align: center;
}

.texas {
    position: absolute;
    top:0px;
    right:0px;
}